.navbar{
	margin-bottom: 0px !important;
}
.processing{
  height: 95vh;
}
.navbar-nav,.navbar-right{
	display: none;
}
.left{
	display: block;
	position: relative;
	height: 100%;
	padding: 0px !important;
	min-height: 100%;  
  min-height: 100vh;
}
.upload_image{
	margin: auto;

}
.loader{
	margin: auto;
	display: none;
}
.right{
	height: 100%;
	border-left: solid 1px #e7e7e7;
	-webkit-box-shadow: -5px 0px 5px -3px #e7e7e7;
  box-shadow: -5px 0px 5px -3px #e7e7e7;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

.right_up{
	width: 100%;
}

.right_down{
	width: 100%;
	border-top: solid 2px #e7e7e7;
	flex:2;
  display: flex;
}

#canvas{
	width: 100%;
	height: 100%;
	display: none;
}

.fileUpload {
	width: 100px;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	overflow: hidden;

}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.zoom-icon{
	position: absolute;
	left: 20px;
	top:20px;
	z-index: 2;
	display: none;
}
.zoom-icon span{
	font-size: 1.8em;
}
.zoom-icon span:hover{
	cursor: pointer;
}

.zoom-icon span{
	font-size: 1.8em;
}

.field_base{
	display: inline-block;
	vertical-align: middle;
}
.field_base label{
	margin: 0;
}

.change_base_icon {
	display: inline-block;
	vertical-align: middle;
}


.change_base_icon span{
	font-size: 0.8em;

}

.container_option_base {
	text-align: center;
}

#title_modif {
	font-size: 20px;
}

#valid_option {
	font-size: 50px;

}

.field {
	height: 40px;
	text-align: right;
}

.buttonPrevious{
	margin-top: 10px;
	margin-left: 0px;
} 

.buttonNext {
	margin:10px;
	position: absolute;
	right: 10px;
}

.small-canvas{
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	position: relative;
	width: 50%;
  padding-bottom: 50%;
  overflow:hidden;
}
.content {
  position:absolute;
  margin: auto;
  height:100%;
  width:100%;
}
.button_nav_cc{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
#small_canvas{
	width: 100%;
	height: 100%;
}

.select-form{
	min-width: 150px;
}
.input-group-btn:last-child > .form-control {
  margin-left: -1px;
  width: auto;
}
.field_modification_base{
	margin-top:20px;
}
.right_down{
	padding-top: 10px;
}
.right_down ul li{
	list-style: none;
	margin-bottom: 5px;
}
.right_down ul li:hover{
	color: #C9302C;
	cursor: pointer;
}
.right_down ul li:hover .badge{
	background-color: #C9302C;
}

