.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


html, 
body {
    height: 100%;
    overflow:hidden;
}
.fill-height{
 	display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.navbar{
	margin-bottom: 0px !important;
}
.navbar-nav,.navbar-right{
	display: none;
}
.processing{
	position: relative;
	margin: 0 !important;
	-webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.inside{
	display: flex;
	position: absolute;
	height: 100%;
}

.left{
	height: 100%;
	min-width: 70vw;

	display: flex;
  justify-content: center;
  align-items: center;
}
.right{
	height: 100%;
	flex:1;
	border-left: solid 1px #e7e7e7;
	-webkit-box-shadow: -5px 0px 5px -3px #e7e7e7;
  box-shadow: -5px 0px 5px -3px #e7e7e7;
}

.upload_image{
	margin: auto;

}
.loader{
	display: none;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	overflow: hidden;
}
.container_right{
	display: none;
	display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.right_up{
	width: 100%;
	min-height: 65%;
}

.right_down{
	border-top: solid 2px #e7e7e7;
	flex:1;
	height: 35%;
}

#canvas{
	width: 100%;
	height: 100%;
	display: none;
}

.fileUpload {
	width: 120px;
	position: relative;
 

}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.zoom-icon{
	position: absolute;
	left: 20px;
	top:20px;
	z-index: 2;
	display: none;
}
.zoom-icon span{
	font-size: 1.8em;
}
.zoom-icon span:hover{
	cursor: pointer;
}

.zoom-icon span{
	font-size: 1.8em;
}

.field_base{
	display: inline-block;
	vertical-align: middle;
}
.field_base label{
	margin: 0;
}

.change_base_icon {
	display: inline-block;
	vertical-align: middle;
}


.change_base_icon span{
	font-size: 0.8em;

}

.container_option_base {
	text-align: center;
}

#title_modif {
	font-size: 20px;
}

#valid_option {
	font-size: 50px;

}

.field {
	height: 40px;
	text-align: right;
}


.small-canvas{
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	position: relative;
	width: 50%;
  padding-bottom: 50%;
  overflow:hidden;
}
.content {
  position:absolute;
  margin: auto;
  height:100%;
  width:100%;
}
.button_nav_cc{
	margin: 0px !important;
	margin-top: 10px !important;
	width: 97%;
	padding-left: 15px;
	padding-right: 15px;
}
#small_canvas{
	width: 100%;
	height: 100%;
}

.select-form{
	min-width: 150px;
}
.input-group{
	float: left !important;
	padding-left: 15px !important;
}
.input-group-btn:last-child > .form-control {
  margin-left: -1px;
  width: auto;
}
.field_modification_base{
	margin-top:5px;
	margin-bottom: 10px;

}
.right_down ul{
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.right_down ul li{
	list-style: none;
	font-size: .9em;
	padding-top: 5px;
	padding-bottom: 5px;
}
.right_down ul li:hover{
	color: #C9302C;
	cursor: pointer;
}
.right_down ul li:hover .badge{
	background-color: #C9302C;
}
.add-button{
	padding: 0;
	width: 80px;
}
.modif-line-value{
	padding-left: 0px !important;
}
.letter-list :nth-child(odd){
  background-color:#a3a1a1;
}
.letter-list :nth-child(even){
  background-color:#F0F0F0;
}
.letter-number{
	background-color:transparent !important;
}
.made_with{
	position: absolute;
	bottom: 5px;
	left: 5px;
}
.controls{
	padding-left: 5px;
}